# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs
/.vshistory
/convolution_matrix/.vshistory
/convolution_matrix/src/.vshistory/convolution_matrix.cpp/.vshistory/2024-04-13_18_56_14_715.cpp
/convolution_matrix/src/.vshistory
/out/build
/vcpkg_installed
